
*{
	margin: 0;
	padding: 0;
}

html{
	background-color: white;
}

/* the styles for the elements----------------------------------------------------------------------- */
body {
	font-family: Arial, Helvetica, sans-serif;
    	font-size: 100%;
	width: 98%;
	max-width: 960px;
	margin: 0px auto;
	border: 3px solid #931420;
	background-color: #fffded;
	text-align: center;
}
main{
	display: grid;
	grid-template: repeat(2, 200px) / repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 2em;
}

main img{
	width: 200px;
	height: 200px;
	padding-left: 0.5em;
}


a:hover, a:focus {
	font-style: italic;
}
ul.a {
	list-style-type: circle;
}


/* mobile landscape -------------------------------------------------*/

@media only screen and (max-width: 959px){
	section h1{font-size: 135%}
	section h2{font-size: 120%}
	aside h2{font-size: 120%}
}
@media only screen and (max-width: 767px){
	header img {float:none;}
	header{text-align: center;}
	main{
		flex-direction: column;
	}
	section{
		width: 95.83333333%;
		padding-left: 2.083333333%;
		padding-right: 2.083333333%;
		padding-bottom: 20px;
		order: 1;
	}
	aside{
		width: 95.83333333%;
		padding-right: 2.083333333%;
		padding-left: 2.083333333%;
		padding-bottom: 20px;
		order: 2;
	}
	aside div{
		column-count: 2;
	}
	#mobile_menu {
		display: block;
	}
	#nav_menu {
		display: none;                                                                                                                                                                                                                                                                                                                 
	}
}
@media only screen and (max-width: 479px){
	body{font-size: 90%;}
}
/* the styles for the footer ------------------------------------------------------------*/



